  <!DOCTYPE html>
<html>
<head>
  <title>DatabaseSearchApp</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>

 <header class="navbar navbar-fixed-top navbar-inverse">
   <div class="navbar-inner">
     <div class="container">
       <%= link_to "DB Search App", root_path, id: "logo" %>
       <nav>
	 	 <ul class="nav pull-right">
		   <li><%= link_to "Home",    root_path, :class => 'navbar-link'  %></li>
		   <% if user_signed_in? %>
			  <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
			  <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
		   <% else %>
			  <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
			  <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
		   <% end %>
         </ul>
       </nav>
     </div>
   </div>
 </header>
 <div class="container">

 <% if notice %>
   <p class="alert alert-success"><%= notice %></p>
 <% end %>
 <% if alert %>
   <p class="alert alert-danger"><%= alert %></p>
 <% end %>

 <%= yield %>


</body>
</html>